.actions{
    justify-content: space-between
}
.assignUser{
    & .MuiFormControl-root{
        min-width: 104px !important;
    }
    margin: 2px;
}
.button{
    margin: 10px;
}
.task{
    & .MuiPaper-root {
        background-color: #d5f4e6;
        margin: 15px 7px;
        width: inherit;
    }
}
.bullet{
    display: 'inline-block';
    margin: '0px 2px';
    transform: 'scale(0.8)';
}
.gridList{
    & .MuiGrid-spacing-xs-1 > .MuiGrid-item{
        padding: 12px 0px 0px 0px
    }
}
.list{
    background: rgba(247, 120, 107, 0.4);
    margin: 8px;
}
.listTasks{
    display: 'flex';
    flex-wrap: 'wrap';
    justify-content: space-around;
    overflow: hidden;
    background-color: white;
}
.listTaskTitle{
    color: #034f84;
    text-align: center;
    padding-top: 4px;
}
.listTitle{
    color: #034f84;
    font-size: 14px;
    padding-left: 15px;
    padding-top: 4px;
}
.listUsers{
    max-height: 120px;
    overflow: auto;
    width: max-content;

}
.title{
    font-size: 14px;
    margin-bottom: 10px;
    & .MuiTypography-root {
        margin-bottom: 20px;
    }
}
.pos{
    margin-bottom: 10px;
}
.formControl{
    margin: 8px;
    minWidth: 120px,
}
.textField{
    margin-bottom: 20px;
}
.ul{
    backgroundColor: inherit;
    padding: 0px;   
}